<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mongo" class="com.mongodb.MongoClient">
        <constructor-arg value="localhost"/>
        <constructor-arg value="27017"/>
    </bean>

    <bean id="db" class="com.mongodb.DB" factory-bean="mongo" factory-method="getDB">
        <constructor-arg>
            <value>app</value>
        </constructor-arg>
    </bean>

</beans>